#監聽端口
APP_PORT=3030

#database連接參數
DB_PORT=3306
DB_HOST=mysql-container-name
DB_USER=root
DB_PASS=your_database_password
DB_MYSQL_DB=myvueshop2

#database pool參數
DB_POOL_MIN=0
DB_POOL_MAX=5
DB_POOL_ACQUIRE=30000
DB_POOL_IDLE=10000

#sqeuelize語言參數
DB_DIALECT=mysql

# 前端路徑
FRONT_END_PATH=http://your-frontend-domain-or-ip
